
$sketch-bg:#e7e7e7;
$sketch-gray-light:#dfdfdf;
$sketch-txt-color: #cbcbcb;


.__sketch-txt{
  height: 20px;
}

.__sketch{
  &-ul{
    padding:5vw 15px;
    > .__sketch-list:last-child{
      margin-bottom: 0;
    }
  }
  &-screen{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    background: $sketch-bg;
    z-index: 898989;
  }
  &-list{
    height: 90px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  &-header{
    height: 40px;
    padding: 0 15px;
  }
  &-small-btn{
    width: 84px;
    height: 28px;
    border-radius: 4px;
  }
  &-white{
    background: #f4f4f4;
  }
  &-bg-color{
    background: $sketch-bg;
  }
  &-gray-light{
    background: $sketch-gray-light;
  }
  &-gray-txt{
    background: $sketch-txt-color;
  }
  &-text-100{
    @extend .__sketch-txt;
    width: 100%;
  }
  &-text-xl{
    @extend .__sketch-txt;
    width: 60vw;
  }
  &-text-l{
    @extend .__sketch-txt;
    width: 50vw;
  }
  &-text-m{
    @extend .__sketch-txt;
    width: 40vw;
  }
  &-text-s{
    @extend .__sketch-txt;
    width: 20vw;
  }
  &-text-xs{
    @extend .__sketch-txt;
    width: 10vw;
  }
  &-circle-s{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  &-circle-xs{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  &-btm-bar{
    height:45px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);/*兼容ipx*/
    bottom: env(safe-area-inset-bottom);/*兼容ipx*/
  }
}

.__sketch-index{
  &-bar1{
    height: 45px;
    padding: 0 20px;
  }
}

.__sketch-station{
  &-thead,&-tr{
    height: 42px;
    padding: 0 15px;
  }
  &-thead{
    border-radius: 6px 6px 0 0;
  }
  &-btm-bar{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);/*兼容ipx*/
    bottom: env(safe-area-inset-bottom);/*兼容ipx*/
  }
  &-confirm{
    height: 100%;
    width: 40vw;
  }
}

.__sketch-tic{
  &-title{
    height: 90px;
    padding: 0 18px;
  }
}